%ul.breadcrumb
  %li
    = link_to 'Efforts', org_efforts_path
    %span.divider
      >
  %li
    = link_to @effort.title, org_effort_path(@effort)
    %span.divider
      >
  %li.active
    Add Target

.clear

= title "Add Target"

= render partial: 'target_form', locals: {collection: @target, post_path: org_effort_targets_path(@effort), is_edit: false}

