%p
  %i
    &ndash;&ndash;&nbsp;&nbsp;Below is a message about your petition. View your petition at
    = link_to "#{petition_url(@petition)}", petition_url(@petition)
    &nbsp;&nbsp;&ndash;&ndash;
%p
  %pre{style: "font-family:arial;"}
    = "\n#{@email.content}"