%p
  Dear #{@resource.email}, <br>

%p Someone has requested to change your password. You can change it by clicking on the link below: 
%p= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, host: @organisation.host)
%p If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.
%p Remember keeping your data secure is important and the easiest way to do it is by creating a strong password.  Here are some tips:
%ul
  %li Use capital letters and change up the case of your password
  %li Make sure your password is more than 6 characters long
  %li Don't make it your name or a common word 
  %li Mix it up with numbers. 

%p Cheers,

%p The #{@resource.organisation.name} team.
