.chevron
  %span.create
    %span.number 1
    %span Start
  = image_tag "bullet-pointer.png"
  %span.launch
    %span.number 2
    %span Review
  = image_tag "bullet-pointer.png"
  %span.manage
    %span.number 3
    %span Get Started

