.chevron
  %span.create
    %span.number 1
    %span Start
  = image_tag "bullet-pointer.png"
  %span.launch
    %span.number 2
    %span Launch
  = image_tag "bullet-pointer.png"
  %span.share
    %span.number 3
    %span Share
  = image_tag "bullet-pointer.png"
  %span.manage
    %span.number 4
    %span Manage

