.row
  .span3
    = link_to user_omniauth_authorize_path(:facebook, token: params[:token]), class: "btn btn-facebook-login" do
      = image_tag "facebook-logo-text.png"
      .logo-separator
      %strong Log in
      with
      %strong Facebook
.row
  .span3
    .subtle.center.mt10
      We'll never post anything without your permission.
