- if @list.petitions.any?
  = table_for(@list.petitions) do |t|
    = t.data do
      - t.cell(:title, heading: sortable(:title)) { |p| link_to(p.title, petition_path(p), class: petition_class(p)) }
      - t.cell(:signatures, heading: sortable(:signatures_count, "Signatures"), cell_html: { class: "center" }) { |p| link_to(number_with_delimiter(p.signatures_count, :delimiter => ','), org_petition_signatures_path(p)) }
      - t.cell(:flags, heading: sortable(:petition_flags_count, "Flags"), cell_html: { class: "center" }) { |p| p.petition_flags_count == 0 ? p.petition_flags_count : link_to(number_with_delimiter(p.petition_flags_count, :delimiter=> ','), org_petition_flags_path(p), class: 'flag-reason-link') }
      - t.cell(:cancelled, heading: sortable(:cancelled, 'Hidden'), cell_html: { class: "center" }) { |p| p.cancelled? ? "&#10003".html_safe : "" }
      - t.cell(:created_by) { |p| link_to_edit_user(p.user) }
      - t.cell(:email) { |p| printable_attribute(p.user, :email) }
      - t.cell(:phone) { |p| printable_attribute(p.user, :phone_number) }
      - t.cell(:admin_status, heading: sortable(:admin_status))
  = will_paginate @list.petitions
- else
  No petitions found.