- if @petitions.any?
  = table_for(@petitions) do |t|
    = t.data do
      - t.cell(:title) {|p| link_to p.title, petition_path(p), class: petition_class(p) }
      - t.cell(:created) {|p| pretty_date_format(p.created_at)}
      - t.cell(:user) {| p | link_to_edit_user(p.user) }
      - t.cell('Signatures') {|p| link_to(number_with_delimiter(p.total_signatures, :delimiter => ","), org_petition_signatures_path(p))}
      - t.cell(:today) {|p| number_with_delimiter(p.today_signatures, :delimiter => ",")}
      - t.cell('Last 7 days (avg)') {|p| number_with_delimiter(p.week_signatures, :delimiter => ",")}
      - t.cell(:hotness_idx) {|p| p.hotness}
- else
  No petitions found.
