= title 'Hot Petitions'

= render partial: 'admin/petitions/search_form', locals: { form_action: org_admin? ? search_org_petitions_path : search_admin_petitions_path, search_input_name: "query" }

= render partial: 'admin/petitions/petition_hot_table'


