.row
  .span8
    = title "Winning Your Campaign"

    %h3
      Start a Petition

    %p
      Text about petition and the theory of change.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur orci mollis arcu dapibus blandit iaculis urna sodales. Praesent convallis nunc lectus, in interdum ligula. Fusce ac neque arcu.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur orci mollis arcu dapibus blandit iaculis urna sodales. Praesent convallis nunc lectus, in interdum ligula. Fusce ac neque arcu.

    %h3
      Gather Support

    %p
      How the tactics these tools enable will help you gather support.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur orci mollis arcu dapibus blandit iaculis urna sodales. Praesent convallis nunc lectus, in interdum ligula. Fusce ac neque arcu.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur orci mollis arcu dapibus blandit iaculis urna sodales. Praesent convallis nunc lectus, in interdum ligula. Fusce ac neque arcu.


    %h3
      Win


    %p
      The hard work you'll need to do to actually win. Petitions are not enough.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur orci mollis arcu dapibus blandit iaculis urna sodales. Praesent convallis nunc lectus, in interdum ligula. Fusce ac neque arcu.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur orci mollis arcu dapibus blandit iaculis urna sodales. Praesent convallis nunc lectus, in interdum ligula. Fusce ac neque arcu.

    = link_to "Get Started!", new_petition_path, :class => 'arrow-link'

  .span4
    %h3
      Resources

    %h4
      Links to more resources.

