<% if @comments.any? %>
	$( ".flagged" ).html('<%= escape_javascript( render( :partial => "org/petitions/comments/comments_table", locals: { show_petition: true }))%>');
<% else %>
	$( ".flagged" ).html("<h4 class = 'mt10'> No flagged comments found.</h4>");
<% end %>