- content_for :sidebar do
  = render partial: 'petitions/manage/manage_menu_bar', locals: {highlight_id: ''}


.row
  .span9
    = manage_title "Edit Petition", {kind: 'edit'}
.row
  .span7.manage-edit-petition
    .mt20.mb20
      You can make edits to your petition - but it will notify a moderator that you have done so.  If you substantially change your petition we will notify your supporters. 
    
    = render partial: "petitions/form", locals: {post_path: petition_manage_path(@petition), show_details: true,
                                                   cancel_path: petition_manage_path(@petition), suppress_popover: true,}

- content_for :end_of_body do
  = render partial: "petitions/view/email_template"
