.row
  .span
    %img{:src => "/assets/errors/500.png"}
  .span
    = title "Oops"
    %p Sorry it's not you it's me.
    %p
      We've dispatched a team to look at your problem,
      but in the mean time you can check out our #{link_to "home page", root_path} .

