.row
  .span.offset3
    %img{:src => "/assets/man3.png"}
.row
  .span
    %img{:src => "/assets/man2.png"}
  .span.offset2
    = title "404 Error"
    %p We're sorry - we can't find the page you're looking for.
    %p
      Would you like to go to our #{link_to "home page", root_path}?
  .span.offset1
    %br
    %br
    %br
    %img{:src => "/assets/man1.png"}
