%p Hi there,

%p Just wanted to let you know that an email from #{@petition.title} needs to be moderated. 

%p #{link_to 'Moderate The Email', org_email_url(@blast_email)}.

%p Cheers,

%p #{@petition.organisation.name}