%p Dear #{@petition.user.first_name},

%p Your email "#{@blast_email.subject}" has been approved and is on it's way to your supporter's inboxes.

%p Congratulations on the awesome work.

%p Cheers,

%p The #{@petition.organisation.name} Team