%p Your email "#{@blast_email.subject}" has been approved and is on it's way to your supporters' inboxes.

%p Congratulations on the awesome work.

%p Thanks,

%p The #{@blast_email.organisation.name} Team