.what-I-am-leading-for.becoming-leader
  %h1.title
    = petition.title
  .separator.mt20.mb20
  .thanks-for-leading.normal-text
    %p You're Awesome.
    %p Thank you for taking the first step towards leading this campaign in your community.
    %p We'll provide you with the tools, assistance, and training to help you take the lead and win this campaign for your local area.