%input.query-box.search-query.input-xlarge#location-query-field{ name: 'location[query]', placeholder: 'Address, City or Postcode', value: params[:location] ? h(params[:location][:query]) : "" }
%a.btn.btn-primary.search-btn.submit-button.search-effort{ href: "#" }
  Lookup
%a.search-button.submit-button.search-effort{ href: "#" }
  %i.icon-globe