= render :partial => 'search_near_petitions', locals: {effort: @effort}

.row
  .span8
    .inner-shadow
      .effort-id.hidden #{@effort.slug}
      #location-map


- content_for :sidebar do
  = render partial: "near_sidebar"