@import 'petitions_common.css.scss';

body {
  font: $text-font-size $text-font-family;
  @include font-smoothing(antialiased);
}

.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt50 { margin-top: 50px; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml20 { margin-left: 20px; }
.margin5 { margin: 5px; }
.margin10 { margin: 10px; }
.margin20 { margin: 20px; }
.padding5 { padding: 5px; }
.padding10 { padding: 10px; }
.padding20 { padding: 20px; }

.left { float: left; }
.right { float: right; }
.nofloat { float: none!important; }
.center { text-align: center!important; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.vtop { display:inline-block; vertical-align:top }
.vmiddle { display:inline-block; vertical-align:middle }
.vbottom { display:inline-block; vertical-align:bottom }
.clear, .clearall { clear: both; }
.no-padding { padding: 0px; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.relative { position: relative; }

// =============================================
//	Text Styles
// =============================================
h1, h2, h3 { font-weight: normal; }
h1 { color:$accent-color; font: $title-font; font-size: 2.2em; text-transform: uppercase; }
h2 { color:$title-color; font: $title-font; font-size: 1.6em; text-transform: uppercase; }
h3 { color:$subtitle-color; font: 1.2em $subtitle-font-family; }
h4 { margin-bottom: 10px; }
p { font-size: $text-font-size; }

abbr, abbr[title] { color: $accent-color-dark; border: 0; cursor: default; }
.subtle { color: $subtle-color; font-size: 0.8em; }

.strong { font-weight: bold; }

// =============================================
//	Form Styles
// =============================================
.form-stacked {
  padding-left: 0px;

  label { display: inline; }
  .help-inline { display: inline; font-size: 13px; margin: 0 !important; padding: 0 0 0 10 !important; vertical-align: top; }
  .subtle { font-size: 1em; }
}

/* override boostrap 1.4.0 attribute which causes placeholders to not be displayed. https://github.com/twitter/bootstrap/issues/630*/
input, textarea {
  -webkit-transform-style: flat;
}

input[type=checkbox] {
  -webkit-transform-style: flat;
}

form .control-group.error input, form .control-group.error textarea {
  color: $input-text-color;
}

form .controls {
  padding-bottom:3px;
}

// =============================================
//	Label And Modal Styles
// =============================================
.label {
  a {
    color: #fff;
    @include remove-text-shadow();
  }
  background-color: #ccc;
}

.modal {
  h3 { font-family: $subtitle-font-family; font-size: 1.4em; }
}

// =============================================
//	Button and Alert Styles
// =============================================
.submit_button { margin-top: 20px; }

.btn, .btn-info, .btn-success {
  @include font-smoothing(antialiased);
  font: $button-font;
  font-size: $button-font-size;
  text-transform: uppercase;
  padding: 4px 20px 4px 20px;
}

.btn-primary {
  font: $button-font;
  font-size: 1.1em;
  line-height: 1em;
  float: right;
  @include border-radius(6px);
  @include background-image(linear-gradient($accent-color-light 20%, $accent-color-dark 100%));
  background-color: $accent-color-dark;
  border-color: $accent-color-light $accent-color-medium $accent-color-dark;
  color: #ffffff;
  @include text-shadow(rgba(0, 0, 0, 0.25) 0 -1px 0);
  padding: 5px 30px 8px 30px;
  filter: none;	//blanks out this IE8 specific fill... sass does not seam to process the filter parameters correctly

  &:hover {
    background-color: $accent-color-dark;
  }
}

.btn-primary.disabled, .btn-primary[disabled] {
  background-color: $accent-color-light !important;
}

.btn-border-dark {
  border: 2px solid #2c2c2c;
}

.btn-secondary {
  float: left;
  padding: 4px 30px 5px 30px;
}

.btn-mini {
  padding: 2px 6px;
  font-family: $text-font-family;
  font-size: 11px;
  line-height: 14px;
  text-transform: none;
}

.btn.left { float: left; }

.btn-success, .alert.alert-success {
  border-color: #cccccc;
  background-color: #ececec;
  background-image: none;
  @include remove-gradient;
}

.btn-info, .alert.alert-info {
  color: #333333;
  @include remove-text-shadow();
  border-color: #BCE8F1;
  background-color: #D9EDF7;
  background-image: none;
  @include remove-gradient;
}

.alert.alert-danger, .btn-error, .alert.alert-error {
  border-color: #ff0000;
  background-color: #fbe9e9;
  background-image: none;
  @include remove-gradient;
}

.actions { background: none; border-top: none; padding-right: 0px; }

.alert {
  .close {
    float: left;
    top: 0;
    right: 0;
    -khtml-opacity: 1;
    opacity: 1;
    filter: none;
    margin-right: 10px;
  }
  p {
    margin-bottom: 0;
    @include remove-text-shadow();
    color: #000000;
    font-weight: bold;
  }
}

.alert.alert-error {
  p {
    a {
      color: blue;
      text-decoration: underline;
    }
  }
}

.transparent {
  -khtml-opacity: 0;
  opacity: 0;
  zoom: 1;
  filter: alpha(opacity=0);
}


p.important {
  font-size:11pt;
  color: $text-color-light;
  font-weight: lighter;
  font-style: italic;
  font-family: $subtitle-font-family;
  line-height: 1.5em;
}

cite {
  color: $subtle-color
}
.manage-buttons {
  float: right;
  margin-top: 8px;

  .group1 {
    float: right;
    margin-left: 5px;
  }
  .group2 {
    float: right;
  }
  .btn-group {
    display: inline-block;
  }
  .btn-manage {
    i { margin-right: 3px; }
    background-color: #f3f3f3;
    background-image: none;
    color: #252525;
    font-size: 11px;
    line-height: 16px;
    padding: 8px 12px;
  }
}

label.conditional_boolean  {
  color: #666;
  font-size: 9pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.conditional_boolean .controls {
  display: inline;
}