// Place all the styles related to the petitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin current_step($step, $marg_left: 14px) {
  .#{$step} {
    margin-left: $marg_left; margin-right: 14px;
    .chevron {
      .#{$step} {
        color: $accent-color;
        .number { background-color: $accent-color; }
      }
    }
  }
}

form.petition {
  div.clearfix { margin: 15px 0px 0px 0px; }
  div.clearfix.error { background: none; padding:0px; margin: 15px 0px 0px 0px; }
  .label-wrapper { margin-bottom:3px; }
}

#table-input .clearfix {
  margin: 0px;
}


.chevron {
  margin-top: 20px; margin-bottom: 40px;
  font-family: $title-font-family;
  font-size: 14pt;
  text-align: center;
  line-height: 18px;

  .number {
    display: inline-block;
    width: 21px; height: 22px;
    margin-left: 0px; margin-right: 10px;
    color: #ffffff;
    background-color: $subtle-color;
    background-image: image-url("step_num.png");
    background-repeat: no-repeat;
  }
}
@include current_step(create, 0px);
@include current_step(launch);
@include current_step(manage);
@include current_step(lead-petition, 0px);
@include current_step(training);
@include current_step(edit);
@include current_step(start);

.body-view-show, .body-manage, .body-emails, .body-admins, .body-signatures-create {

  .sidebar.manage {
      hr { border: 1px solid #dedede; }

      ul{
        margin: 0;
        list-style: none;
      }

      li{
        display: list-item;
        list-style: none;
        padding-bottom: 8px;
      }

      ul.email-tips {
        margin-top: 15px;
        color:  #7d7d7d;
      }


      li > a {
        color: black;
        text-decoration: none;
        &:hover {
          color: #252525;
          background-color: #ebebeb;
        }
      }

      .manage-tab {
        width: 190px;
        margin-left: -30px;
        padding: 11px 10px 12px 20px;

        a {
          &:hover {
            color: #999999;
            text-decoration: none;
            cursor: pointer;
          }
          display: block;
          height: 37px;
          padding-left: 47px;
          color: #999999;
          font-size: 13px;
          font-family: $serif-font-family;
          text-transform: uppercase;
          line-height: 14px;

          .strong { font-size: 20px; line-height: 1.1em; font-weight: normal; }
        }

        a#manage-start    { @include toggle-bg-image('icon-manage-tab-start.png') }
        a#manage-email    { @include toggle-bg-image('icon-manage-tab-email.png') }
        a#manage-collect  { @include toggle-bg-image('icon-manage-tab-collect.png') }
        a#manage-deliver  { @include toggle-bg-image('icon-manage-tab-deliver.png') }
        a#manage-training{
          padding-left: 0px;
          margin-top: -3px;
          margin-bottom: 4px;
          i {
            color: #CCCCCC;
            font-size: 46px;
            margin-right: 8px;
            margin-top: 5px;
            vertical-align: text-bottom;
          }
          .training-label {
            line-height: 46px;
          }
        }
      }

      .manage-tab.highlighted {
        background-color: #e4e4e4;
        @include border-top-right-radius(8px);
        @include border-bottom-right-radius(8px);
        a { color: #252525; background-position: left bottom; }
        a#manage-training{
          i {
            color: #252525;
          }
        }
      }

      .manage-tab.separator {
        border-bottom: 1px solid #dedede;
      }

      .campaign-tips {
        h4 {
          font-size: 15px;
          font-family: $serif-font-family;
          font-weight: normal;
          text-transform: uppercase;
          margin-bottom: 0;
        }
        .why {
          color: $accent-color;
          font-family: $georgia-font-family;
          font-size: 11px;
          font-style: italic;
          margin-bottom: 10px;
        }
      }
    }

  .sidebar {
    #content {
      top: 30px;
    }
    background: {
      color: #f5f5f5;
      image: image-url("bg-header-shadow.png"), image-url("bg-footer-shadow.png");
      repeat: repeat-x, repeat-x;
      position: left top, left bottom;
    }
    border-left: 1px solid #ebebeb;
    padding: 0 0 0 30px;
    margin: 0px;
    margin-bottom: -60px;

    .container { width: 190px; padding: 0 !important; margin: 0 }
    .sidebar-box {
      margin-bottom: 30px;
      .settings {
        a > i {
          color: $accent-color;
        }
      }
      share { margin-bottom:80px;}
    }

    h2 {
      display: inline-block;
      color: #252525;
      font: $title-font;
      font-size: 28pt;
      text-transform: uppercase;
      line-height: 28pt;
      margin-bottom: 15px;
    }

    .titlebar {
      position: relative;

        .number {
          position: absolute;
          top: 5px;
          left: -40px;
          width:20px;
          height:40px;
          color: $title-color;
          font: $title-font;
          font-size: 14pt;
          line-height: 40px;
          background-image: image-url("bg-step-number.png");
          vertical-align: middle;
        }
    }
  }

  .petition-progress {
    .progressbar {
      width: 218px;
      height: 18px;
      vertical-align: top;

      .total {
        height: 18px;
        margin: 0;
        background-color: #e4e4e4;
        background-image: none;
        border: 0;
        padding: 2px 0 0 2px;
        @include border-radius(0);
        @include box-shadow(#bcbcbc 0 2px 5px 0 inset);
      }
      .done {
        height: 16px;
        margin: 0;
        background-image: url($bg-progress-done-url);
        background-repeat: repeat-x;
      }
    }
  }

}
.petition-title-span {
  width: 520px;
}
// =============================================
//	Petition Public Page
// =============================================

.body-view-show, .body-signatures-create, .body-comments-show {
  #contact_user_form .ajax-loader { margin:0px 10px 0px 0px; }
  #contact_user_form .error { color: red; font-size:$text-font-size }

  .external-site {
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 5px;
    height:  30px;
    background-image: image-url("external-site.png");
  }

  .external-facebook-page {
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 5px;
    height:  30px;
    background-image: image-url("facebook-group-icon.png");
  }

  .spread-word{
    color: #252525;
    font-size: 1.1em;
    font-style: italic;
    font-family: Helvetica;
    line-height: 1.3em;
  }

  .btn-flag {
    margin: 40px 0 0 0;
  }

  .signatures-box {
    width: 100%; // required for multi column list on IE7

    li {
      font-size: 10pt;
      border: 0px;
      color: $text-color;
      font-family: $description-font-family;

      .name {
        word-wrap: break-word;
      }

      abbr {
        color: $subtle-color;
        font-size:0.8em;
        font-style: italic;
        font-weight: normal;
        font-family: $subtitle-font-family;
        text-transform: none;
      }
    }

    margin: 10px 0 0 0;
    list-style: none;
  }
  .last_signed {
    font-size: 11pt;
  }

  .comments {
    a.more {
      color: $accent-color;
      text-decoration: underline;
    }
  }
  .comments-box {
    li.hovered {
      background-color: #f7f7f7;
      .actions {
        i.icon-heart {
          color: #AD7979;
        }
        i.icon-flag {
          color: #C7B68D;
        }
        a.details {
          color: #959595;
          background: image-url('permalink-dark.png') no-repeat right;
        }
      }
    }
    li {
      @include border-radius(3px);

      background-color: #FFFFFF;
      font-size: 0.95em;
      border: 1px solid #DDD;
      color: #636363;
      padding: 15px 20px;
      font-family: $description-font-family;
      margin-bottom: 20px;
      margin-right: 10px;

      .actions {
        font-size:  1.2em;
        a {
          text-decoration: none;
        }
        i {
          color: #C7C7C7;
        }
        i.icon-heart:hover, i.selected {
          color: #CC3B3B !important;
        }
        i.icon-flag:hover {
          color: #FFCA48;
        }

        a.details {
          padding: 3px 20px 0 15px;
          font-weight: normal;
          color: #C7C7C7;
          font-style: italic;
          font-size: 0.8em;
          background: image-url('permalink-light.png') no-repeat right;
        }
        a.details:hover {
          color: #6b6b6b;
          background: image-url('permalink-darkest.png') no-repeat right;
        }
      }

      .comment-header {
        margin-bottom: 15px;
        span {
          display: inline-block;
          vertical-align: middle;
        }
        .name {
          word-wrap: break-word;
          font-size: 12pt;
          color: $text-color;

        }
        .label {
          margin-left: 30px;
          padding: 1px 5px 1px 4px;
        }
      }
      
      .comment {
        font-weight: normal;
        line-height: 1.2em;
        background: image-url('quote-icon-small.png') no-repeat;
        padding: 4px 0 15px 19px;
      }
      
      abbr {
        color: #FFFFFF;
        font-family: $text-font-family;
        font-style: italic;
        text-shadow: none;
        text-transform: none;
        font-size: 10px;
      }
    }

    margin: 20px 0 0 0;
    list-style: none;
  }

  .timeline-container {
    .input, .post {
      margin:20px 0 0 145px;
    }
    .post {
      border-left: 2px solid #252525;
      margin: 0 0 0 130px;
      padding: 15px;
      img {
        border: 0 none transparent;
        position: absolute;
      }
      img.user {
        height: 12px;
        left: 120px;
        width: 20px;
      }
      img.system {
        height: 8px;
        left: 125px;
        width: 11px;
      }
      .right .links a{
        padding: 10px;
      }
      .actions {
        margin-right: 76px;
      }
      abbr {
        color: $subtle-color;
        font-size:0.8em;
        font-style: italic;
        font-weight: normal;
        font-family: $subtitle-font-family;
        text-transform: none;
        position: absolute;
        right: 590px;
      }
    }

    h4 {
      font-size: 11pt;
    }
    .edit-form {
      display: none;
      .actions {
        margin-right: 76px;
      }
    }
  }

  .sign-the-petition {
    span.help-inline, .help-block {
      font-size: 8pt;
      color: $accent-color !important;
    }
    span.help-block {
      a { color: #252525; }
    }
    form {
      label.string, label.tel, label.email {
        color: #252525;
        font-size: 8pt;
        font-weight: bold;
        font-family: $description-font-family;
      }
      label.subtle {
        font-size: 9pt;
        font-weight: normal;
      }
      .label-wrapper { height: 20px; }
        input.string {
          @include border-radius(0);
          width: 180px;
          margin: 0;
        }
        input.signature-narrow {
        width: 160px;
      }
      .checkbox {
        width: 140px;
        margin-top: 10px;
      }
      .control-group.error input, .control-group.error select, .control-group.error textarea {
        border-color: $accent-color;
      }
    }

    .input-why {
      margin-top: -30px;
    }

    .checkbox-why {
      margin-top: -20px;
    }

    .input-why, .checkbox-why {
      float: left;
      margin-left: 180px;
    }

    .input-why, .checkbox-why, .help-block {

      a {
        color: #252525;
        font-size: 8pt;
        font-style: italic;
        font-family: $subtitle-font-family;
      }
    }

    .btn-primary { float: left; width: 190px }

    .return-to-petition { display: none; }

    .signature-disclaimer {
      font-style: italic;
    }
  }

  #comment {
    .help-inline {
      color: $accent-color !important;
    }
    .control-group.error input:focus,
    .control-group.error select:focus,
    .control-group.error textarea:focus {
      border-color: $accent-color !important;
    }  
    .control-group.error input, 
    .control-group.error select, 
    .control-group.error textarea  {
      border-color: $accent-color !important;
    }       
  }


  .social_share {
    line-height: 0;

    a.share {
      background-color: #e4e4e4;
      background-image: none;
      @include border-radius(4px);
      height: 40px;
      line-height: 18px;

      &:hover {
        background-color: #e4e4e4;
          background-image: none;
          text-decoration: none;
      }
      .text {
        display: inline-block;
        font-family: $serif-font-family;
        text-transform: uppercase;
          color: #252525;
          float: left;
          margin: 10px 0 0 10px;
      }
      i {
        display: inline-block;
        float: right;
        color: $accent-color;
      }
    }
    a.share.facebook {
      width: 190px;
      margin-bottom: 5px;
        i {
          font-size: 30px;
          line-height: 1em;
        margin: 5px 10px 0 0;
        }
    }
    a.share.twitter {
      width: 95px;
        i {
          font-size: 16px;
        margin: 10px 10px 0 0;
        }
    }
    a.share.email {
      width: 90px;
        i {
          font-size: 16px;
        margin: 10px 10px 0 0;
        }
    }
    .petition_url { display: none; }
  }

  .left-side {
    a.share.facebook {
      width: 220px;
      font-size: 12pt;
      i {
        padding-top: 1px;
      }
    }
    a.share.twitter {
      width: 114px;
      font-size: 12pt;
      i {
        padding-top: 1px;
      }
    }
    a.share.email {
      width: 102px;
      font-size: 12pt;
      i {
        padding-top: 1px;
      }
    }
  }
}

// =============================================
//  Petition Form
// =============================================
.petition-form {
  .controls { padding-bottom: 4px;}
  .control-label { font-size: 1.2em; }
  .collection_check_boxes {
    margin: 0 20px 0 5px;
    font-size: 1em;
  }
  .control-group.check_boxes {
    span {
      display: inline-block;
      margin-bottom: 6px;
      width: 170px;
      vertical-align: top;
    }
  }
}

.body-petitions-share, .body-view-thanks {
  .petition_url {
    margin-top: 20px;
    #copy_petition_url_button {
      width:16px;
      height: 16px;
      margin-left: 2px;
      padding: 1px;
    }
  }
}

// =============================================
//	Manage petition page
// =============================================

.body-manage, .body-emails, .body-admins {
  h2{
    color: #252525;
    font-size: 20px;
    font-family: $serif-font-family;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.sidebar.manage {
  .sidebar-box.settings {
    .well {
      background-color: #f0f0f0;
      margin-left: -15px;
      padding: 18px 12px 0 12px;

      li > a {
        &:hover {
          color: #252525;
          background-color: #ebebeb;
        }
      }
      li.divider {
        height: 1px;
        border-bottom: 0;
        border-top: 1px solid #dedede;
      }
      a > i {
        color: $accent-color;
      }
      form {
        margin: 0;
        .control-group {
          margin: 0;
          white-space: nowrap;

          input[type=checkbox] { margin: 0 2px 0 2px; }
          label { display: inline-block; }
        }
      }
    }
  }
}

.body-manage {
  .achievements-accordion {
    .accordion-group {
      border: {
        top: $separator-line;
        bottom: 0;
        left: 0;
        right: 0;
      }
      @include border-radius(0);
      padding: 14px 0;

      .accordion-toggle {
        color: #252525;
        font-size: 20px;
        font-family: $serif-font-family;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0;
        margin-right: 10px;
        line-height: 30px;
        background-image: image-url("arrow-down.png");
        background-repeat: no-repeat;
        background-position: right center;

        img { margin-right: 10px; vertical-align: top; }

        .complete {
          float: right;
          color: #04a83f;
          font-family: $georgia-font-family;
          font-style: italic;
          font-weight: bold;
          font-size: 16px;
          text-transform: none;
          margin-right: 30px;
        }
      }

      .accordion-toggle.open {
        background-image: image-url("arrow-up.png");
      }

      .accordion-inner {
        border: 0;
        padding: 10px 10px 10px 40px;

        .btn-secondary {
          float: right;
          padding: 6px 20px 7px 20px;
          margin-right: 45px;
        }
      }
    }
  }
}

.body-manage-show {
  h1.title {
    display: inline;
    color: $accent-color;
    font: $title-font;
    font-size: 38pt;
    text-transform: uppercase;
    line-height: 34pt;
  }

  .btn-primary {
    i {
      font-size: 1.4em;
      margin-left: -10px;
      vertical-align: text-top;
      padding-right: 10px;
    }
  }
}



.petition-selector-modal {

  .petition-host-label {
    vertical-align:top;
    line-height: 29px;
  }

  .petition-selector-textbox {
    margin-bottom: 0;
  }

  .indicator {
    width: 16px;
    height: 16px;
    display: inline-block;
  }

  .control-group.error {
    display: block;

    .help-inline {
      font-size: 12px;
    }
  }

  .double-confirm-box {
    position: relative;
    display: inline-block;
    width: 355px;
    height: 29px;
    margin-right: 20px;
    overflow: hidden;
  }
  .double-confirm {
    position: absolute;
    top: 5px;
    right: -355px;
    font-weight: bold;
    font-size: 1em;
  }
}

.profile {
  color: $subtle-color;
  font-family: $description-font-family;
  font-size: 8pt;
  font-weight: lighter;
  line-height: 8pt;
  margin-bottom: 10px;

  a { color: $text-color; font-weight: bold; }
  img { vertical-align: -25%; margin-left: 5px; }
}

.share-buttons {
  position: absolute;
  right: 15px;
  bottom: 12px;

  .text { display: none; }
  i { display: none; }

  .desc {
    display: inline-block;
    margin-right: 5px;
    color: #ffffff;
    font-size: 14pt;
    text-transform: uppercase;
    line-height: 1em;
    vertical-align: middle;
  }

  a.share {
    display: inline-block;
    background-repeat: no-repeat;
    width: 32px;
    height: 31px;
    margin-left: 2px;
    margin-right: 0;
    vertical-align: middle;
  }

  a.share.facebook { @include toggle-bg-image('btn-share-facebook.png') }
  a.share.twitter { @include toggle-bg-image('btn-share-twitter.png') }
  a.share.email { @include toggle-bg-image('btn-share-email.png') }
}


.manage-menu {
  hr { width: 90%; border: 1px solid #555555; }

  a {
    &:hover {
      color: #cccccc;
      text-decoration: none;
      cursor: pointer;
    }
    height: 32px;
    padding-left: 40px;
    padding-top: 3px;
    color: #ffffff;
    font-size: 10px;
    font-weight: normal;
    font-family: $title-font-family;
    text-transform: uppercase;
    line-height: 14px;

    .strong { font-size: 14px; line-height: 14px; font-weight: normal; }
  }

  a#manage-email    { @include toggle-bg-image('icon-manage-email.png') }
  a#manage-collect  { @include toggle-bg-image('icon-manage-collect.png') }
  a#manage-deliver  { @include toggle-bg-image('icon-manage-deliver.png') }
  a#manage-edit     { @include toggle-bg-image('icon-manage-edit.png') }
  a#manage-contact  { @include toggle-bg-image('icon-manage-contact.png') }
  a#manage-hide     { @include toggle-bg-image('icon-manage-close.png') }
  a#manage-activate { @include toggle-bg-image('icon-manage-activate.png') }
}

.manage-menu {
  height: 70px;
  background-image: image-url("bg-stripe-black.png");
  border-bottom: 1px solid $header-border-color;

  .container {
    line-height: 70px;
    vertical-align: middle;
  }
  a {
    display: inline-block;
    margin-top: 18px;
    margin-left: 18px;
  }
  a:first-child {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
  }
  img {
    vertical-align: top;
    margin: 15px 10px 0 10px;
  }
}

.manage-menu .petition-menu-item a {
  display: inline-block;
  margin-top: 14px;
  margin-left: 7px;
  margin-right: 10px;
  padding-left: 40px;
}

.petition-menu-home-item, .petition-menu-item {
  display: inline-block;
  border-color: $border-color;
  border-top-style: solid;
  border-width: 0;
  a { margin-top: 14px; }
}

.petition-menu-item.active {
  display: inline-block;
  border-color: $secondary-accent-color;
  border-top-style: solid;
  border-width: 4px;
  a { background: { position: left bottom; } }
}

.manage-edit-petition {
  .petition-image {
    width: 200px;
    height: auto;
  }
}

// =============================================
//	Launching petition
// =============================================
.body-petitions-launching {
  #category-modal {
    filter: none;
    h3 { filter: none; }
  }

  .petition-box-actions {
    margin-bottom: 20px;
  }
}

.launching {
  padding: 10px 35px 20px 35px;
  border: 1px solid $border-color;
  @include border-radius(10px);
}

.upload-image-box-vertical {
  .preview-image, .preview-image img {
    width: 100%;
    height: auto;
  }
  .upload-field-wrapper {
    border: solid 1px $border-color;
    @include border-radius(5px);
  }
  .upload-field {
    width: 100%;
    height: 80px;
    padding: 10px;
    position: relative;
  }
  .status-text {
    font-family: $text-font-family;
    font-size: $text-font-size;
  }
  .image-upload-input {
    position: absolute;
    top: 22px;
    left: -153px;
  }
}

a#add-categories {
  margin: 10px 5px;
}

ul#selected-categories {
  list-style-type: none;
  margin: 10px 5px;

  li {
    margin: 5px 0;
  }
}


// =============================================
//	Manual input signatures
// =============================================

.body-signatures-manual_input {
  .manual-input-signatures {
    padding: 20px 30px 10px 30px;
  }
}

#input-signatures-modal {
  input {
    margin-bottom: 0;
  }
  .help-inline {
    display: block;
  }
  .alert {
    padding: 0;
    margin-right: 20px;
    line-height: 29px;
  }
  .alert-success, .alert-error {
    background-color: transparent;
    border: 0;
  }
}

// =============================================
//	Delivery page
// =============================================

.manage-deliver {
  .accordion {
    margin-bottom: 20px;

    .accordion-toggle {
      color: #333;
      background-color: #f6f6f6;
      text-decoration: none;
      padding-left: 30px;
    }

    .accordion-toggle {
      background-image: image-url("spindown-closed.gif");
      background-repeat: no-repeat;
      background-position: 15px 13px;
    }

    .accordion-toggle.open {
      background-image: image-url("spindown-open.gif");
    }
  }
}

// =============================================
//	email supporters template list
// =============================================

.body-emails {
  ul.email-alerts {
    margin-bottom: 0px;
  }

  .email-supporters-form {
    .label-wrapper { display: inline; margin-right: 10px; }
    input.string { width: 400px; }
  }

  .email-supporters-leader {
    margin: 10px 0;
  }

  .email-supporters-tips {
    border: solid 1px $border-color;
    padding: 15px 15px;
    @include border-radius;
  }

  .btn-desc {
    float: right;
    padding: 8px 20px;
  }

  .template-container {
    position: relative;
  }

  #template-selector {
    position: relative;
    width: 180px;
    margin: 0px 0px 50px 0px;
    border: {
      top: solid 1px $border-color;
      bottom: solid 1px $border-color;
      left: solid 1px $border-color;
    }
    @include border-top-left-radius(10px);
    @include border-bottom-left-radius(10px);
    overflow: hidden;

    li {
      &:hover {
        background-color: $bg-color;
      }
      border: {
        bottom: solid 1px $border-color;
      }
      padding: 30px 20px;
      list-style: none;
    }
    li.first {
      @include border-top-left-radius(10px);
    }
    li.last {
      @include border-bottom-left-radius(10px);
      border-bottom: none;
    }
    li.active {
      background-color: #f2f2f2;
    }
  }

  #template-content {
    position: absolute;
    top: -0px;
    left: 180px;
    width: 460px;
    height: 235px;
    min-height: 235px;
    padding: 30px 30px 50px 30px;
    border: solid 1px $border-color;
    @include border-top-right-radius(10px);
    @include border-bottom-right-radius(10px);
    overflow: auto;
  }

  .template {
    display: none;
  }

  #apply-template-btn {
    position: absolute;
    right: 40px;
    top: 325px;
  }
}

// =============================================
//	Petition list
// =============================================
.body-petitions-index {
  ul.petition_list {
    list-style-type: none;
    padding: 0px;
    margin: 20px 0;

    li {
      position: relative;
        padding: 10px 20px 10px 0;
        margin-bottom: 20px;
      cursor: pointer;
      border-bottom: $separator-line;

        h2 {
          display: inline;
          font-size: 14pt;
          font-family: $description-font-family;

          a { color: $title-color; }
        a.list-item-not-launched { color: #999 }
        a.list-item-cancelled { color: #A30013 }
        }
    }
  }

  .list-item-title {
    width: 600px;
  }

  .list-item-progressbar {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -20px;
  }
}

// =============================================
//	Petition search
// =============================================
.body-petitions-search {
  .filter-panel {
    border: 1px solid #eeeeee;
    @include border-radius(4);
  }
}

// =============================================
//	Petition public page
// =============================================
.body-view-show, .body-petitions-launching, .body-signatures-create {
  #notes {
    width: 518px;
  }

  #admin-notes, #admin-notes a {
    color: $text-color;
  }

  #admin-notes a {
    text-decoration: none;
  }

  #notes-toggle {
    margin-right: 8px;
    text-decoration: none;
    font-weight: bold;

    img {vertical-align: middle; margin-top: -5px;}
  }
}

.body-view-show, .body-petitions-launching, .body-signatures-create, .body-comments-show {
  .petition-box {
    .upload-field div.input { margin: 10px; }
    input, select { margin: 0; }

    h1.title {
      display: inline;
      color: $accent-color;
      font: $title-font;
      font-size: 38pt;
      text-transform: uppercase;
      line-height: 34pt;
    }

    .profile {
      color: $subtle-color;
      font-family: $text-font-family;
      font-size: 8pt;
      font-weight: lighter;
      line-height: 1.5em;
      margin-top: 10px;
      margin-bottom: 30px;

      .name { font-weight: bold; color: #252525; }
      img { vertical-align: -25%; margin-left: 5px; }
    }

    hr {
      border-top: 1px solid #ebebeb;
      border-bottom: 1px solid #ffffff;
    }

    .petition-map {
      position: relative;
    }

  }
}

#email_template {
  label { display: block; }
  #subject-field { margin-top: 4px; }
}

.thanks-box {
  padding: 20px;
  margin: 20px 0px 20px 0px;
  background-color: $bg-color;
}

.table th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.table th .asc {
  background-image: image-url("up_arrow.png");
}

.table th .desc {
  background-image: image-url("down_arrow.png");
}

#flag-reason {
  width: 518px;
}

@mixin upper_link_style($link_to) {
  .link-container {
    margin-top: -27px;
    height: 40px;
    margin-bottom: 43px;
    .#{$link_to}-link {
      text-decoration: none;
      color: black;
      font-weight: bold;
      background: image-url("go-to-#{$link_to}.png") no-repeat 0 20px;
      line-height: 47px;
      display: inline-block;
      padding-left: 53px;
      margin-left: 8px;
    }
  }
}

@include upper_link_style(effort);
@include upper_link_style(group);

.becoming-leader {
  h1.title {
    display: inline;
    color: $accent-color;
    font: $title-font;
    font-size: 2.2em;
    text-transform: uppercase;
  }
  .normal-text {
    p {
      color: $text-color;
      margin-bottom: 14px;
    }
  }
}

.leading-progress {
  .title {
    text-transform: capitalize;
    margin: 10px 0;
  }
  .statuses {
    height: 20px;
    overflow: hidden;
  }
  .status {
    width: 80px;
    height: 20px;
    line-height: 20px;
    padding-left: 3px;
    text-transform: capitalize;
    color: white;
    background-color: lighten(#666, 30%);
    position: relative;
    float: left;
    font-weight: bold;
    margin-right: 20px;
  }

  .status:after {
    content: "";
    border-left: 12px solid lighten(#666, 30%);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
    top: -2px;
    right: -10px;
  }

  .status.accomplished {
    background-color: #666;
  }

  .status.accomplished:after {
    border-left: 12px solid #666;
  }

  .status:last-child:after {
    display: none;
  }

}
// =============================================
//  Comments show page
// =============================================
.body-comments-show {
  .link-container {
    margin-bottom: 25px;
  }
  .detailed {
    li {
      padding: 20px 25px;
      .actions {
        i.icon-heart {
          color: #AD7979;
        }
      }
      .comment-header {
        .name {
          font-size: 14pt;
        }
        .label {
          padding: 3px 6px 3px 5px;
        }
      }
      .comment {
        line-height: 23px;
        background: image-url('quote-icon-big.png') no-repeat;
        font-size: 12pt;
        padding-left: 28px;
      }
      abbr {
        font-size: 12px;
      }
    }
    margin: 10px 0 0 0;
  }
  .back-label {
    background-color: black;
    width: 125px;
    padding: 5px 4px 4px 10px;
    font-size: 9pt;
    font-weight: normal;
    a {
      i {
        padding-right: 4px;
        vertical-align: middle;
      }
      text-decoration: none; 
    }     
  }
}
