- if @petition.cached_signatures_size >= 5
  .strong.last_signed
    Last signed by:
  %ul.signatures-box.strong
    = render partial: "petitions/view/petition_signature", collection: @petition.recent_signatures.select("id, first_name, last_name, created_at")


