.row
  .span8.offset2
    .center
      = title "Thanks for signing!"
      %br

      .panel.win-petition
        .share-buttons
          = render partial: 'petitions/view/social_share'

      .clear