%title= content_for?(:title) ? content_for(:title) : current_organisation.name

%div{'data-pjax-container' => true}
  .loader{style: "display:none;"}
    =image_tag 'ajax-loader-16.gif'

  = render partial: 'layouts/flash_messages'
  = yield