.row
  .span8.offset2
    .create
      = render partial: 'petitions/petition_chevron'

    .center.mb20
      We need some information about you before we can launch your petition. We'll use this to create a
      = current_organisation.combined_name
      account for you.